<h1>Taches#index</h1>
<p>
<% @taches.each do |tach| %>
 <p><%= link_to tach.name, tach_path(tach) %></p>
  <p><%= link_to "Delete", tach_path(tach),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>
<% end %>
